services:
  minecraft:
    image: ghcr.io/alexandergg-0520/minecraft-server:jre21
    container_name: mc-fabric
    ports:
      - "25565:25565"
    volumes:
      - ./data:/data
    environment:
      EULA: "true"
      TYPE: FABRIC
      VERSION: 1.21.1
      JVM_XMX: 4G
    restart: unless-stopped
