apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mc-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  # storageClassName はクラスタに合わせて設定してね
  # storageClassName: longhorn
