apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ include "mc.fullname" . }}-env'
data:
  TYPE: {{ .Values.server.type | quote }}
  VERSION: {{ .Values.server.minecraftVersion | quote }}
  EULA: {{ ternary "TRUE" "FALSE" .Values.minecraft.eula | quote }}

  MOTD: {{ .Values.minecraft.motd | quote }}
  DIFFICULTY: {{ .Values.minecraft.difficulty | quote }}
  MODE: {{ .Values.minecraft.gamemode | quote }}
  MAX_PLAYERS: {{ .Values.minecraft.maxPlayers | quote }}
  ONLINE_MODE: {{ .Values.minecraft.onlineMode | quote }}
  ALLOW_FLIGHT: {{ .Values.minecraft.allowFlight | quote }}
  PVP: {{ .Values.minecraft.pvp | quote }}

  VIEW_DISTANCE: {{ .Values.minecraft.viewDistance | quote }}
  SIMULATION_DISTANCE: {{ .Values.minecraft.simulationDistance | quote }}
  LEVEL_TYPE: {{ .Values.minecraft.levelType | quote }}
  SEED: {{ .Values.minecraft.levelSeed | quote }}

  USE_AIKAR_FLAGS: {{ .Values.jvm.useAikarFlags | quote }}
  MAX_MEMORY: {{ .Values.jvm.maxMemory | quote }}

  S3_SYNC_ENABLED: {{ .Values.s3.enabled | quote }}
  S3_ENDPOINT: {{ .Values.s3.endpoint | quote }}
  S3_BUCKET: {{ .Values.s3.bucket | quote }}
