apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: '{{ include "mc.fullname" . }}-data'
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: {{ .Values.persistence.data.size }}
  storageClassName: {{ .Values.persistence.data.storageClass }}
