appset:
  name: minecraft-servers
  project: default
  namespace: argocd

repo:
  url: https://github.com/AlexanderGG-0520/minecraft-server
  revision: main
  chartPath: docker/chart

servers:
  - name: fabric-smp
    namespace: mc-server
    imageTag: java21
    type: FABRIC
    version: "1.21.11"
    memory: 6G
    gpu: false
    ops: "your-username-here"
    enable-whitelist: false
    whitelist: ""

  - name: paper-smp
    namespace: mc-paper
    imageTag: java21
    type: PAPER
    version: "1.21.11"
    memory: 4G
    gpu: false
    ops: "your-username-here"
    enable-whitelist: false
    whitelist: ""

  - name: velocity-proxy
    namespace: mc-proxy
    imageTag: java17
    type: VELOCITY
    version: "3.3.0"
    memory: 1G
    ops: "your-username-here"
    gpu: false

  - name: fabric-c2me-gpu-accelerated-smp
    namespace: mc-server
    imageTag: java25
    type: FABRIC
    version: "1.21.10"
    memory: 6G
    gpu: true
    ops: "your-username-here"
    enable-whitelist: false
    whitelist: ""
