services:
  minecraft:
    image: ghcr.io/alexandergg-0520/minecraft-server:runtime-jre21
    container_name: mc-fabric
    ports:
      - "25565:25565" 
    volumes:
      - minecraft-data:/data
    environment:
      EULA: "true" 
      TYPE: "fabric"
      VERSION: "1.21.1"
      MAX_MEMORY: "4G" 
      JVM_XMS: "1G" 
      JVM_XMX: "4G"  
      MAX_PLAYERS: "20"  
    networks:
      - minecraft_network  
    restart: unless-stopped  
    mem_limit: 4g  
    cpu_count: 2 
    tty: true  
    command: ["/entrypoint.sh"]
      
networks:
  minecraft_network:
    driver: bridge  
volumes:
  minecraft-data:
    name: minecraft-fabric-data

