name: Build & Publish Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Multi-Arch Images
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [8, 11, 17, 21, 25]

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------------------------------------------------------
      # 1. QEMU + Buildx Setup
      # ---------------------------------------------------------
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # ---------------------------------------------------------
      # 2. Login to GHCR
      # ---------------------------------------------------------
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # ---------------------------------------------------------
      # 3. Docker Build & Push (Multi-Arch + Java Matrix)
      # ---------------------------------------------------------
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
            context: .
            file: ./docker/Dockerfile
            platforms: linux/amd64,linux/arm64
            push: true
            build-args: |
                JAVA_VERSION=${{ matrix.java }}
            tags: |
                ghcr.io/alexandergg-0520/minecraft-server:java${{ matrix.java }}

            cache-from: type=gha
            cache-to: type=gha,mode=max
