name: k8s-test

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  k8s-test:
    runs-on: ubuntu-latest

    strategy:
        matrix:
            java:
                -   { tag: java8, dockerfile: Dockerfile.jdk8 }
                -   { tag: java11, dockerfile: Dockerfile.jdk11 }
                -   { tag: java17, dockerfile: Dockerfile.jdk17 }
                -   { tag: java21, dockerfile: Dockerfile.jdk21 }
                -   { tag: java25-experimental, dockerfile: Dockerfile.jdk25 }

    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3

    -   name: Build image
        run: |
            docker build \
                -f ${{ matrix.java.dockerfile }} \
                -t mc-server:${{ matrix.java.tag }} .

    -   name: Smoke test (java)
        run: |
            docker run --rm \
            mc-server:${{ matrix.java.tag }} \
            java -version
