name: Publish Docker Images to GHCR

on:
  push:
    branches:
        -   main

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        strategy:
            fail-fast: false
            matrix:
                include:
                -   java: 8
                    tag: jre8
                    base-flavor: cpu

                -   java: 11
                    tag: jre11
                    base-flavor: cpu

                -   java: 17
                    tag: jre17
                    base-flavor: cpu

                -   java: 21
                    tag: jre21
                    base-flavor: cpu

                -   java: 25
                    tag: jre25
                    base-flavor: cpu

                -   java: 25
                    tag: jre25-gpu
                    base-flavor: gpu
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            # -----------------------------------
            # Docker Buildx
            # -----------------------------------
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            # -----------------------------------
            # Login to GHCR
            # -----------------------------------
            -   name: Login to GHCR
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            # -----------------------------------
            # Build & Push
            # -----------------------------------
            -   name: Build and push image
                uses: docker/build-push-action@v6
                with:
                    context: .
                    file: ./Dockerfile
                    push: true
                    tags: |
                        ghcr.io/alexandergg-0520/minecraft-server:${{ matrix.tag }}
                    build-args: |
                        JAVA_VERSION=${{ matrix.java }}
                        ENABLE_OPENCL=${{ matrix.opencl }}
