name: build-minecraft-images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: alexandergg-0520/minecraft-server

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - runtime-jre8
          - runtime-jre11
          - runtime-jre17
          - runtime-jre21
          - runtime-jre25
          - runtime-jre25-gpu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # buildx（中身はBuildKit）
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # GHCR login
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build & Push
      - name: Build & Push (${{ matrix.target }})
        run: |
          docker buildx build \
            --target ${{ matrix.target }} \
            -t alexandergg-0520/minecraft-server:${{ matrix.target }} \
            --push \
            .
