name: Publish Docker Images to GHCR

on:
    workflow_dispatch:
    push:
        branches:
            -   main

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        strategy:
            fail-fast: false
            matrix:
                target:
                    - runtime-jre8
                    - runtime-jre11
                    - runtime-jre17
                    - runtime-jre21
                    - runtime-jre25
                    - runtime-jre25-gpu

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            # -----------------------------------
            # Docker Buildx
            # -----------------------------------
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            # -----------------------------------
            # Login to GHCR
            # -----------------------------------
            -   name: Login to GHCR
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            # -----------------------------------
            # Login to Docker Hub
            # -----------------------------------
            -   name: Login to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            # -----------------------------------
            # Build & Push
            # -----------------------------------
            -   name: Build & Push (${{ matrix.target }})
                uses: docker/build-push-action@v5
                with:
                    context: .
                    file: ./Dockerfile
                    target: ${{ matrix.target }}
                    push: true
                    no-cache: true
                    tags: |
                        ghcr.io/alexandergg-0520/minecraft-server:${{ matrix.target }}
                        alecjp02/minecraft-server:${{ matrix.target }}
                    platforms: linux/amd64
