name: Publish Docker Images to GHCR

on:
  push:
    branches:
        -   main

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        strategy:
            fail-fast: false
            matrix:
                include:
                -   tag: jre8
                    dockerfile: Dockerfile.jre8
                -   tag: jre11
                    dockerfile: Dockerfile.jre11
                -   tag: jre17
                    dockerfile: Dockerfile.jre17
                -   tag: jre21
                    dockerfile: Dockerfile.jre21
                -   tag: jre25-experimental
                    dockerfile: Dockerfile.jre25-experimental

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            # -----------------------------------
            # Docker Buildx
            # -----------------------------------
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            # -----------------------------------
            # Login to GHCR
            # -----------------------------------
            -   name: Login to GHCR
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            # -----------------------------------
            # Build & Push
            # -----------------------------------
            -   name: Build & Push (${{ matrix.tag }})
                uses: docker/build-push-action@v5
                with:
                    context: .
                    file: ${{ matrix.dockerfile }}
                    push: true
                    tags: |
                            ghcr.io/${{ github.repository }}/minecraft-server:${{ matrix.tag }}
                    platforms: linux/amd64